{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

{{#author}}
    <header class="animated fadeIn" {{#if cover}}style="background-image: url({{url cover}})"{{/if}}>
        <div class="container" data-stellar-ratio="0.75">
            <div class="title animated fadeInUp">
                <h1>{{name}}</h1>
                <p>{{bio}}</p>
            </div>
            <div class="sidebar text-right meta">
                <div class="published animated fadeInUp">
                    <div class="author-image">
                        <img src="{{url avatar}}" alt="{{name}}" />
                    </div>
                    <strong class="article-count text-center">{{plural pagination.total_items empty="No posts" singular="% article" plural="% articles"}}</strong>
                </div>
            </div>
        </div>
    </header>
{{/author}}

{{> excerpts}}

{{> pagination}}

{{!-- The tag below includes the footer - partials/footer.hbs --}}
{{> footer}}